@font-face {
    font-family: Lane;
    src: url("/static/fonts/lane.ttf");
}

@font-face {
    font-family: Lato;
    src: url("/static/fonts/lato.ttf");
}

.categories {
    float:left;
}

.header {
    height:50px;
    display: block;
    background: none repeat scroll 0 0 !important;
    font-family: "Lane", sans-serif !important;
    padding: 10px;
    padding-left: 15px;
}

.name {
    float:left;
    font-size: 2.5em;
}

.categories {
    float: right;
    padding: 8px 15px;
    border-left: 1px solid #DDDDDD;
    font-size: 1.5em;
}

.categories:hover {
    color: #EEEEEE;
    background-color: #444444;
}

.box {
    display: inline-block;
    background-color: red;
    font-size: 1.25em;
    height: 176.1px;
    width: 285px;
    float: left;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    margin-left: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
    position: relative;
}

.title {
    padding: 6px;
    padding-top: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height:58%;
    line-height: 1.1;
    margin-bottom: 8px;
    text-align: center;
}

.title:hover {
    background-color:rgba(0,0,0,0.7) !important;
}

.bottom {
    padding: 6px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 0.8em;
}

.bottom:hover {
    background-color:rgba(0,0,0,0.7) !important;
}

.right {
    position: absolute;
    right: 17px;
    bottom: 12px;
    text-align: right;
}

.left {
    text-align: left;
}

body {
    background-color: #222222;
}

html, body {
    margin:0;
    padding:0;
    font-family: "Lato", sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

img {
    height: 20px;
    width: auto;
    position: relative;
    top: 4px;
}

.title-url {
    color: #DDDDDD;
    font-size: 0.7em;
}

.footer {
    position:relative;
    bottom:0;
    width: 100%;
}

.next {
    font-size: 1.5em;
    padding: 10px;
}