.header {
    height:50px;
    display: block;
    background: none repeat scroll 0 0 !important;
    font-family: "Raleway", sans-serif !important;
    padding: 10px;
    padding-left: 15px;
}

.name {
    float:left;
    font-size: 2.5em;
}

.navbar {
    float: right;

}
.categories {
    padding: 8px 15px;
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    margin-top: 5px;
}

li {
    float: left;
}

@media only screen and (max-width : 800px) {
    li {
        width: 100%;
    }

    .navbar {
        float:left;
    }
}

.categories:hover {
    color: #EEEEEE;
    background-color: #444444;
}

.content {
    overflow: hidden;
    width: 100%;
}

.box {
    display: inline-block;
    background-color: red;
    font-size: 1.25em;
    height: 185.41px;
    min-width: 94%;
    float: left;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
    position: relative;
}

.box-container {
    width: 100%;
    float: left;
}

/* Smartphones (portrait and landscape) ----------*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .box-container {
        width: 50%;
        float: left;
    }
}

/* Smartphones (landscape) ----------*/
@media only screen
and (min-width : 321px) {
    .box-container {
        width: 33.3%;
        float: left;
    }
}

/* Smartphones (portrait) ----------*/
@media only screen
and (max-width : 320px) {
    .box-container {
        width: 50%;
        float: left;
    }
}

/* iPads (portrait and landscape) ----------*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .box-container {
        width: 25%;
        float: left;
    }
}

/* iPads (landscape) ----------*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .box-container {
        width: 20%;
        float: left;
    }
}

/* iPads (portrait) ----------*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    .box-container {
        width: 25%;
        float: left;
    }
}
/*********
iPad 3
**********/
@media
only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio : 2) {
    .box-container {
        width: 20%;
        float: left;
    }
}

@media
only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
    .box-container {
        width: 25%;
        float: left;
    }
}

/* Desktops and laptops ----------*/
@media only screen
and (min-width : 1224px) {
    .box-container {
        width: 20%;
        float: left;
    }
}

/* Large screens ----------*/
@media only screen
and (min-width : 1824px) {
    .box-container {
        width: 16.6%;
        float: left;
    }
}

/* iPhone 4 ----------*/
@media
only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio : 2) {
    .box-container {
        width: 50%;
        float: left;
    }
}

@media
only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 2) {
    .box-container {
        width: 50%;
        float: left;
    }
}
/*@media only screen and (min-width : 600px) {
    .box-container {
        width: 50%;
        float: left;
    }
}

@media only screen and (min-width : 900px) {
    .box-container {
        width: 33.3%;
        float: left;
    }
}

@media only screen and (min-width : 1200px) {
    .box-container {
        width: 25%;
        float: left;
    }
}

@media only screen and (min-width : 1500px) {
    .box-container {
        width: 20%;
        float: left;
    }
}

@media only screen and (min-width : 1800px) {
    .box-container {
        width: 16.6%;
        float: left;
    }
}

*/.title {
    padding: 6px;
    padding-top: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height:58%;
    line-height: 1.1;
    margin-bottom: 8px;
    text-align: center;
}

.title:hover {
    background-color:rgba(0,0,0,0.7) !important;
}

.bottom {
    padding: 6px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 0.8em;
}

.bottom:hover {
    background-color:rgba(0,0,0,0.7) !important;
}

.right {
    position: absolute;
    right: 17px;
    bottom: 17px;
    text-align: right;
}

.left {
    text-align: left;
}

body {
    background-color: #222222;
}

html, body {
    margin:0;
    padding:0;
    font-family: "Lato", sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

img {
    height: 20px;
    width: auto;
    position: relative;
    top: 4px;
}

.title-url {
    color: #DDDDDD;
    font-size: 0.7em;
}

.footer {
    width: 100%;
    text-align: center;
}

.next {
    font-size: 1.5em;
    padding: 10px;
}

.next:hover {
    background-color: #444444;
    color: #EEEEEE;
}